dict_1.txt
~$quirements_v.1.docx
~WRL0003.tmp
get_tags_without_asinc_mixed_methods.py
manual_check.txt
__pycache__/get_paths_without_asinc.cpython-311.pyc
__pycache__/change_tags.cpython-311.pyc
__pycache__/get_tags_without_asinc.cpython-311.pyc
__pycache__/make_log.cpython-311.pyc
trash/all_in_one.py
interface.py
trash/CYM2_with_mistake.exe
trash/setup.py
trash/user_interface.py
trash/get_path+get_tags_working.py
trash/Tests.py
actions_log.txt
trash/get_tags.py
